.BadgesList li {
    margin-bottom: 1rem;
  }
  
  .BadgesListItem {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    display: flex;
    padding: 1rem;
  }
  
  .BadgesListItem__avatar {
    border-radius: 50%;
    background: #a3a3a3;
    margin-right: 0.5rem;
    width: 80px;
    height: 80px;
  }
  .Twitter__name {
    color: #1da1f2;
    
  }

  .Badges__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #2c2cf1;
    background-repeat: repeat;
    margin-bottom: 1rem;
  }
  
  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .Badges_conf-logo {
    margin-bottom: 2rem;
  }
  
  .Badges__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }